.allCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  gap: 4rem;
}

.crossFile {
  margin-left: 20px;
  color: red;
  background-color: blue;
  padding: 4px;
  cursor: pointer;
}
